{erl_opts, [debug_info]}.
{lib_dirs, []}.
{deps, [
  {er, ".*",
   {git, "git://github.com/mattsta/er", {branch, "master"}}},
  {ghost, ".*",
   {git, "file:///home/matt/repos/ghost", {branch, "master"}}},
  {riakc, "1.2.0",
   {git, "git://github.com/basho/riak-erlang-client", {tag, "1.2.0"}}},
  {riak_pool, ".*",
   {git, "git://github.com/mattsta/riak_pool", {branch, "master"}}},
  {iso8601, ".*",
   {git, "https://github.com/seansawyer/erlang_iso8601", {branch, "master"}}},
  {ecache, ".*",
%    {git, "https://github.com/mattsta/ecache", "master"}},
   {git, "file:///home/matt/repos/ecache", "master"}}
%  {statebox, ".*",
%   {git, "https://github.com/mochi/statebox", {branch, "master"}}}
]}.
{cover_enabled, true}.
